.TitleFormFooter
  text-transform uppercase
.FooterContainer
  background #1c3643
  color white
  padding 3em 0
.FooterContainer .navbar-link
  color white
.FooterContainer .navbar-link:hover
  color #363636

@media (max-width 950px){
  .navContainer{
    text-align center
    }
}

@media (max-width 950px){
  .formFooter{
    text-align center
    margin 1em

    }
}
