.breadcrumbs-container .breadcrumb
  background-color white
  margin-bottom 0
.breadcrumbs-container .breadcrumb a
  color #1c3643
.breadcrumb>li+li:before
  content ">"
.breadcrumbs-container
  left .5em
.Filtros-container .list-group-item.active
  border-color #99c84a
.Filtros-container .list-group-item.active:hover
  border-color #99c84a !important
