.AlignItems-form
  display flex

.btn.Btn-adsi
  background-color #99c84a
  color white

.btn.Btn-adsi:hover
  background-color #8ab542

.Header-container, .InfoContainer
  background-color #99c84a
  color white

.Header-container .Login
  color white
  font-weight bold
  font-size 20px
  text-transform uppercase

.Header-container .navbar-toggle
  font-size 27px
  font-weight bold
  color white

.Header-containerAlignv
  display flex
  align-items center

.Header-containerAlignv > div > h1
  margin-top 0
  margin-bottom 0

.IconSearch
  font-size 20px
input.form-control:focus
a.active
  background-color #99c84a !important
  color black
a.active:focus
  background-color inherit
.navbar-margin
    margin-bottom 0

.NavbarMargin-container
  margin-right 0
  display flex
  flex-flow row wrap
  align-items center
  margin-bottom 0

.navbar-nav > li > a
  color #363636
  margin .5em .5em

.NavbarMargin-container > div
  display flex
  justify-content center

.MenuContainer
  background-color #f7f7f9

@media (max-width 750px){
  .FormSearch{
    margin-top .5em
    margin-bottom 1em
    }
  }
